
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-azul1: #00081E;
    --cor-azul2: #0c1532;
    --cor-azul3: #324071c4;
    --cor-branca1: #ffffff9d;
    --cor-branca2:#FDFDFD;

    --font-principal: 'Hind';
    --font-secundaria: 'Kumbh Sans';
}


/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }
  
  /* Estilo do traço na barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #1b274d; /* Cor da barra de rolagem */
    border-radius: 8px; /* Borda arredondada */
  }
  
  /* Estilo da área da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Cor da área da barra de rolagem */
  }
  
  /* Estilo do canto da barra de rolagem */
  ::-webkit-scrollbar-corner {
    background-color: transparent; /* Cor do canto da barra de rolagem */
  }
  

  body {
    background-color: var(--cor-azul1);
    
}


header{
    background-color: var(--cor-azul2);
    font-family: 'Hind';
    
}




#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    border-bottom: 2px solid #070e243c; /* Cor e espessura ajustadas */
    box-shadow: 0px 1px 5px rgba(9, 6, 37, 0.283); /* Adiciona uma sombra sutil */
}

#navbar-mobile{
    display: none;
}


.transparent-blur {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid transparent; /* Torna a borda transparente */
}

.solid {
    background-color: var(--cor-azul2);
    backdrop-filter: blur(20px);
    border-bottom: 2px solid #070e24;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 79px;
    line-height: 21px;
    font-size: 15px;
    font-family: 'Hind';
    font-weight: 500;
}

nav ul {
    display: flex;
    margin: 0;
    list-style: none;
    margin-right: 61%;
}

nav li {
    padding: 10px;
    padding-right: 55px;
    color: var(--cor-branca1);
   
    
}

nav li {
    position: relative;
    border-bottom: 2px solid transparent; /* Começa como transparente */
    transition: border-bottom 0.3s ease; /* Adiciona transição para suavizar a mudança */
}

nav li:hover {
    border-bottom: 2px solid #ffffff; /* Cor e espessura da linha ao passar o mouse */
}

#logotipo{
    width: 130px;
}


a{
    text-decoration: none;
}



.pacotes {
    display: flex;
    flex-wrap: wrap; /* Permite que os pacotes quebrem para a próxima linha quando não houver espaço suficiente */
    justify-content: space-around; /* Distribui os pacotes igualmente ao longo do eixo principal (horizontal) */
    margin-top: 10%;
}

.pacote {
    width: calc(24% - 50px);
    margin: 10px;
    background-color: #0405158d;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5%;
    transition: transform 0.3s ease-in-out;
}

.pacote:hover {
    transform: scale(1.1);
}

/* Adicione mais estilos conforme necessário */




.pacotes img {
    max-width: 100%; /* Ajusta a largura máxima da imagem para 100% da largura do contêiner */
    height: auto; /* Garante que a altura seja ajustada automaticamente para manter a proporção original da imagem */
    display: block; /* Remove espaçamentos adicionais ao redor da imagem */
    margin: 0 auto; /* Centraliza a imagem dentro do card */
    padding: 14px;
    border-radius: 39px;
    
}

.pacotes h1{
    padding-bottom: 10px;
    text-align: center;
    font-family: var(--font-secundaria);
    color: var(--cor-branca2);
    font-size: 20px;
}

.pacotes p{
    color: var(--cor-branca2);
    font-family: var(--font-principal);
    padding-bottom: 10px;
}





.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: var(--cor-azul3);
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin-left: 55px;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color:  var(--cor-azul3);
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color:  var(--cor-azul3);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background:  var(--cor-azul3);
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
 
  
  
  
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #141a23;
    padding-left: 54px;
    padding-right: 58px;
    background-color: var(--cor-azul2);
}




.linkarctic a {
    text-decoration: none;
    color: var(--cor-branca2);
    font-size: 13px;
    font-family: 'Hind';
    font-weight: 500;
   
    
}


.ul-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
    
    
}

.ul-footer a{
    text-decoration: none;
    color: var(--cor-branca2);
}

.ul-footer ul li {
    margin-left: 20px;
    color: var(--cor-branca2);
    font-family: 'Hind';
    font-weight: 500;
    font-size: 13px;
    /* Adicione algum estilo adicional conforme necessário */
}



.small-text {
    font-size: 11px; /* Ajuste o tamanho conforme necessário */
    color: #D1D5DB; /* Ajuste a cor conforme necessário */
    margin-top: 5px; /* Adiciona algum espaçamento acima do texto */
    font-family: 'Hind';
    font-weight: 500;
    margin-left: 20px;
}

.copyright-symbol {
    font-size: 8px;
    vertical-align: top;
    /* Adicione outros estilos conforme necessário */
}

